.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--main-color);
    color: var(--white);
}

.m-t{
    margin-top: 2rem;
}

.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >h2{
        max-width: 35rem;
        
        text-align: center;
        margin-bottom: 2.5rem;
        >b{
            font-size: 5.5rem;
        }
    }

    >img{
        width: 60rem;
        
        @media screen and (max-width: 1600px){
            width: 50rem;
        }
        @media screen and (max-width: 1300px){
            width: 30rem;
        }
        @media screen and (max-width: 1000px){
            display: none;
        }
    }

    >p{
        >b{
        text-decoration: underline;
        cursor: pointer;
        }
    }

}