.side-menu{
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 3;

    &.open{
        grid-column-start: 1;
        grid-column-end: 6;
    }
}
.side-menu-open{
    padding: 0;
    height: 100%;
}

.side-menu-item{
    text-decoration: none;
    color: var(--white);
    text-transform: capitalize;
    width: 100%;
    transition: 0.5s ease;
    >p{
        display: flex;
        align-items: center;
        padding-left: .5rem;
        transition: 0.5s ease;
        height: 3rem;
        min-width: 100%;
    }

    &:hover, &.activeLink{
        >p{
            border-left: 1rem solid var(--secondary-color);
        }
    }
}

.item-wrapper{
    width: 100%;
    font-weight: bold;
}

.side-menu-header{
    padding: 1rem;
    margin-bottom: 1rem;
    transition: 0.5s ease;
}