*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
*, button, input{
    border: 0;
    outline: 0;

    font-family: 'Roboto', sans-serif;
}

html, body, #root{
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Sarala', sans-serif;
}

h1{
    font-size: 5.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.4rem;
}

p{
    font-size: 1.2rem;
}


h4{
    font-size: 1.0rem;
}

a{
    text-decoration: none;
}

.App{
    height: 100vh;
    max-height: 100vh;

    width: 100vw;
    max-width: 100vw;
}

:root {
    --main-color: #215894;
    --main-color-hover: #2663A5;

    --secondary-color: #CF6F2D;
    --secondary-color-hover: #E3792F;

    --white: #FFFFFF;
    --beige: #EBF2F5;

    --black: #293135;
    --soft-black: #263238;

    --warning: #FF9A04;
    --success: #23893F;
    --fail: #FF4516;
    --alert: #FF5E34;
  }